$questionOpen: hsl(238, 29%, 16%);
$questionHover: hsl(14, 88%, 65%);
$question: hsl(237, 12%, 33%);
$answer: hsl(240, 6%, 50%);
$dividers: hsl(240, 5%, 91%);
$white: #fff;
$black: #000;
$bg: linear-gradient(0deg, rgba(101,101,231,1) 0%, rgba(175,103,233,1) 70%);